{% block alan_captcha_widget  %}
    <div class="d-flex justify-content-center">
        <div class="alan-captcha" data-sitekey="{{ site_key }}" data-submitbutton="{{ submit_button_id }}" data-lang="en"></div>
    </div>
{% endblock %}
